body{
	
background-color:blue;

}

ul.navigation {
	float: left;
	width: 100%;
}

li {list-style-type:none}
ul.navigation li a {
	float: left;
	display: block;
	width: 20%;
	padding: 2%;
	text-align: center;
	text-decoration:overline;
	display: block;
	color: blue;
	background: orange;
}


ul.navigation li a:hover {
	color: black;
	background-image:url("http://ian.umces.edu/imagelibrary/albums/userpics/10002/normal_ian-symbol-fish-school-3.png");
	text-decoration: none;
	}

h1{


text-align:center;

color:white;


font-family: 'Oswald', sans-serif;


}


h2{


text-align:center;

color:white;

font-family: 'Oswald', sans-serif;

}

h3{


text-align:center;

color:white;


font-family: 'Oswald', sans-serif;


}

p{

color:white;

font-size:20px;


font-family: 'Oswald', sans-serif;



}


a{

color:yellow;



font-family: 'Oswald', sans-serif;

}

iframe{

padding-left:5%;

border-color:red;

border-radius:100%;


}



.whale{

    background: url("http://vignette4.wikia.nocookie.net/jurassicfightclub/images/f/f2/Ancient-whale.png/revision/latest?cb=20120427163701");
    background-size: 530px 300px;
    background-repeat: no-repeat;

}










@-webkit-keyframes pull {
    0% {left:-50%;}
 
    100% {left:100%;}



}




#whale{

    width: 500px;
    height: 300px;
    left:0;
   -webkit-animation-name: pull;
   -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;

  position: absolute;

  background-repeat: no-repeat;


  background-size:100% auto;




}


#whale.monday{



background-image: url("http://vignette4.wikia.nocookie.net/jurassicfightclub/images/f/f2/Ancient-whale.png/revision/latest?cb=20120427163701");


}



#whale.tuesday{


background-image: url("http://vignette2.wikia.nocookie.net/orcapod/images/d/d4/Killer-whale-female.png/revision/latest?cb=20140524182936");


}






#whale.wensday{

background-image: url("https://36.media.tumblr.com/eac4f45b69a4c4b60a5b331dce5d7cff/tumblr_mq27y5Siup1szse16o1_500.png");


-webkit-animation-duration: 60s;

}



#whale.thursday{


background-image: url("http://media.news.com.au/multimedia/2011/12/sharks/assets/images/white_shark.png");



}



#whale.friday{


background-image: url("http://lobsterboatrestaurant.homestead.com/lobster.png");



}



p:hover, h1:hover, h2:hover, h3:hover {

background-color:orange;

}

button:hover{

background-clip:blue;


}

.blue{

position:relative;


display:block;
overflow: hidden;

height:300px;
width: 100%;

}



#idaw{

display:none;


}


.complete{
    display:none;
}



.button{

background-color:orange;


position: absolute;

left:50%;

border-color:green;

width:100px;

height:40px;

 cursor:pointer;
}